extends ./layout/index

block contenido
    main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="Imagen de nuestra empresa", class="img-fluid" )
            .col-md-7
                h1= pagina
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
                    Nullam dignissim arcu eu consectetur aliquet. Sed egestas tincidunt lacus sit amet pretium. 
                    Mauris a nunc suscipit, sodales arcu sollicitudin, tincidunt nibh. Vestibulum luctus pretium leo, 
                    in auctor tellus condimentum non. Praesent ipsum tellus, pellentesque non fringilla quis, 
                    suscipit eget risus. Aenean faucibus scelerisque diam quis viverra. Morbi et vehicula risus. 
                
                p ultrices nunc tortor, vel consectetur metus fringilla nec. Donec vel diam ac metus 
                    scelerisque pretium. Pellentesque sit amet metus orci. In ultrices magna tempor, vehicula dolor ac, 
                    laoreet ligula. In auctor eget velit vitae fermentum. 

                p consectetur magna at pellentesque pretium. Duis rutrum nunc id justo elementum cursus. 
                    Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; 
                    Sed augue risus, elementum eu imperdiet non, posuere sed ex. Pellentesque quis eleifend justo. 
                    Vestibulum facilisis tempor ante et gravida. Maecenas eleifend enim hendrerit tortor tincidunt feugiat. 
        .listado-iconos
            .container.mt-5.py--5.text-center
                .row
                    .col-md-4
                        img(src="img/icono_seguridad.svg", alt="Icono de seguridad", class="img-fluid mb-4")
                        h2.mb-4 Seguridad
                        p Pellentesque sit amet metus orci. In ultrices magna tempor, vehicula dolor ac, 
                            laoreet ligula. In auctor eget velit vitae fermentum.

                    .col-md-4
                        img(src="img/icono_destinos.svg", alt="Icono de destinos", class="img-fluid mb-4")
                        h2.mb-4 Mejores destinos
                        p Pellentesque sit amet metus orci. In ultrices magna tempor, vehicula dolor ac, 
                            laoreet ligula. In auctor eget velit vitae fermentum.

                    .col-md-4
                        img(src="img/icono_precios.svg", alt="Icono de precio", class="img-fluid mb-4")
                        h2.mb-4 Mejores Precios
                        p Pellentesque sit amet metus orci. In ultrices magna tempor, vehicula dolor ac, 
                            laoreet ligula. In auctor eget velit vitae fermentum. 